.c-container {
  padding-left: 5vw;
  padding-right: 5vw;
  min-height: 400px;
  text-align: center;
}

.c-img {
  width: 100%;
}

.c-game-thumbnail {
  max-height: 350px;
}

.c-main {
  margin-bottom: 24px;
  padding: 24px;
  background-color: #132a13;
  text-align: center;
  min-height: 380px;
  width: 100%;
  color: #ecf39e;
}

.c-footer {
  background-color: #132a13;
  color: #ecf39e;
  text-align: center;
  height: 200px;
  padding-top: 24px;
}