@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bg {
  background-color: #c87137;
}

.help-hand {
  position: absolute;
  top: 40%;
  right: 20%;
  z-index: 1000;
  animation: moverArriba 1s ease forwards alternate;
  animation-iteration-count: infinite;
}

@keyframes moverArriba {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(200px);
  }
}

.modal-content-bottom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #fff;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  outline: none;
  padding-left: 48px;
  padding-right: 48px;
  animation: modal-bottom 0.3s ease forwards;
  height: 150px;
}

@keyframes modal-bottom {
  from {
    transform: translateY(150px);
  }
  to {
    transform: translateY(0px);
  }
}

.spinner {
  display: inline-block;
  animation: spinning 1s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}