@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.bg {
  background-color: #c87137;
}

.help-hand {
  position: absolute;
  top: 40%;
  right: 20%;
  z-index: 1000;
  animation: moverArriba 1s ease forwards alternate;
  animation-iteration-count: infinite;
}

@keyframes moverArriba {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(200px);
  }
}

.modal-content-bottom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #fff;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  outline: none;
  padding: 48px;
}